<<<<<<< HEAD
@font-face {
  font-family: 'Futura New';
  src: url('./FuturaNewLight-Reg.eot');
  src: local('Futura New Light Reg'), local('FuturaNewLight-Reg'),
      url('./FuturaNewLight-Reg.eot?#iefix') format('embedded-opentype'),
      url('./FuturaNewLight-Reg.woff2') format('woff2'),
      url('./FuturaNewLight-Reg.woff') format('woff'),
      url('./FuturaNewLight-Reg.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url('./FuturaNewBook-Reg.eot');
  src: local('Futura New Book Reg'), local('FuturaNewBook-Reg'),
      url('./FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
      url('./FuturaNewBook-Reg.woff2') format('woff2'),
      url('./FuturaNewBook-Reg.woff') format('woff'),
      url('./FuturaNewBook-Reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url('./FuturaNewBold-Reg.eot');
  src: local('Futura New Bold Reg'), local('FuturaNewBold-Reg'),
      url('./FuturaNewBold-Reg.eot?#iefix') format('embedded-opentype'),
      url('./FuturaNewBold-Reg.woff2') format('woff2'),
      url('./FuturaNewBold-Reg.woff') format('woff'),
      url('./FuturaNewBold-Reg.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SchoolBook';
  src: url('./SchoolBookCyrillic.eot');
  src: url('./SchoolBookCyrillic.eot?#iefix') format('embedded-opentype'),
      url('./SchoolBookCyrillic.woff2') format('woff2'),
      url('./SchoolBookCyrillic.woff') format('woff'),
      url('./SchoolBookCyrillic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
=======
@font-face{
    font-family: 'SchoolBook';
    src: url(../fonts/SchoolBookC.ttf) format('truetype');
    src:url(../fonts/SchoolBookC.woff) format('woff');
    src:url(../fonts/SchoolBookC.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: 'SchoolBook Bold';
    src: url(../fonts/SchoolBookC-Bold.ttf) format('truetype');
    src:url(../fonts/SchoolBookC-Bold.woff) format('woff');
    src:url(../fonts/SchoolBookC-Bold.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face{
    font-family: 'Futura New Bold';
    src: url(../fonts/FuturaNewBold-Reg.ttf) format('truetype');
    src:url(../fonts/FuturaNewBold-Reg.woff) format('woff');
    src:url(../fonts/FuturaNewBold-Reg.woff2) format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face{
    font-family: 'Futura New';
    src: url(../fonts/FuturaNewLight-Reg.ttf) format('truetype');
    src:url(../fonts/FuturaNewLight-Reg.woff) format('woff');
    src:url(../fonts/FuturaNewLight-Reg.woff2) format('woff2');
    font-weight: 400;
    font-display: swap;
}
>>>>>>> main
