*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  background: #fffefe;
}

.conteiner {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
}

.list {
  position: absolute;
  top: 297px;
  left: 112px;
  z-index: -1;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-top: 303px;
  padding-right: 200px;
  padding-left: 407px;
}

.main__title {
  margin-top: 0;
  margin-bottom: 70px;
  color: #080606;
  font-family: "School Book", sans-serif;
  font-weight: 400;
  font-size: 80px;
  font-style: normal;
  line-height: 1.4;
}

.main__link {
  border-radius: 33.5px;
  padding: 19px 76px;
  box-shadow: 0px 4px 20px 0px #ffc59e;
  color: #fff;
  font-family: Futura New, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #ffc59e;
}

.main__social {
  margin-top: 216px;
}

.social {
  display: flex;
  align-items: center;
  gap: 50px;
  padding-left: 0;
  list-style-type: none;
}

.social__svg {
  fill: #c3b9b5;
}

.main__image {
  position: absolute;
  top: 300px;
  z-index: -1;
  padding-left: 673px;
}

.main__address {
  display: flex;
  align-items: flex-end;
  padding-right: 15px;
  padding-bottom: 13px;
}

.address-list a {
  color: #59443f;
  font-family: "Futura New", Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-style: normal;
  line-height: 30px;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
button {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.pets-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-block: 316px;
}

.pets-count__number {
  color: var(--brown, #59443f);
  font-family: "School Book", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 144px;
  line-height: 110px; /* 76.389% */
  letter-spacing: 0.01em;
  inline-size: 716px;
}

.letter-spacing-extended {
  letter-spacing: 50px;
}

.pets-count__text {
  color: var(--text, #080606);
  font-family: Futura New;
  font-weight: 400;
  font-size: 80px;
  line-height: 110px; /* 137.5% */
  inline-size: 716px;
}

.pets-count__image-container {
  position: relative;
  background-image: url("../images/image_bird@2x.svg");
  inline-size: 288px;
  block-size: 223px;
  inset-block-end: 85px;
  inset-inline-start: 175px;
}

.reasons {
  margin-inline: 7.3vw;
  margin-block: 0 309px;
}

.reasons__heading {
  margin-block-end: 104px;
  color: #080606;
  font-family: "School Book", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px; /* 100% */
  text-align: center;
}

.reasons__cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(484px, 1fr));
  grid-row-gap: 70px;
  justify-items: center;
}

.reasons__cards-list-item {
  inline-size: 484px;
}

.reasons__card-title {
  margin-block-end: 36px;
  color: var(--text, #080606);
  font-family: "School Book", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px; /* 133.333% */
}

.reasons__card {
  display: flex;
  justify-content: space-between;
  block-size: 150px;
}

.reasons__card-icon {
  align-self: center;
  block-size: 80px;
}

.reasons__card-description {
  line-height: 30px; /* 150% */
  inline-size: 318px;
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-block: 235px 209px;
}

.contacts__info-heading {
  margin-block-end: 70px;
  color: #080606;
  font-family: "School Book", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px; /* 100% */
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.department__info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 484px;
}

.department__title {
  color: #080606;
  font-family: "School Book", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px; /* 133.333% */
}

.department__contacts-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.department__contact {
  color: #59443f;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.contacts__info-map {
  align-self: flex-end;
  width: 50vw;
  height: 526px;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 206px;
  background-color: #fbf8f8;
}

h2 {
  color: var(--text, #080606);
  font-family: "SchoolBook", sans-serif;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.history__title {
  padding-top: 180px;
  padding-bottom: 48px;
}

.history__text {
  display: flex;
  justify-content: center;
  width: 479px;
  padding-bottom: 36px;
  color: var(--brown, #59443f);
  font-family: "Futura New", sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.button_history__read_more,
.button_our_specialistes__read_more {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  height: 24px;
  border: none;
  color: var(--orange, #ffc59e);
  font-family: "Futura New Bold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
}

.button_history__read_more:active,
.button_our_specialistes__read_more:active {
  color: #59443f;
  fill: #59443f;
}

.our_specialistes {
  padding-top: 100px;
  padding-bottom: 48px;
}

.gallery {
  position: relative;
  width: 1253px;
  margin: 0 auto;
  margin-bottom: 36px;
}

.swiper-slide__link {
  display: block;
  width: 178px;
  height: 178px;
}

.our_specialistes-photo {
  width: 178px;
  height: 178px;
  object-fit: cover;
}

.button__slaider {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__prev {
  left: -55px;
}

.button__next {
  right: -55px;
}

.button__slaider-image:active {
  fill: #59443f;
}

.swiper-button-disabled {
  opacity: 0.4;
  cursor: default;
}

.button_our_specialistes__read_more {
  margin: 0 856px 0 855px;
}
