body {
  margin: 0;
  padding: 0;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 24px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.cards {
  width: 320px;
  height: 220px;
  border-radius: 20px;
  background: #fffefe;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card__title {
  color: #59443f;
  font-family: 'SchoolBook', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  padding: 24px;
}

.card__image {
  padding-top: 22px;
  width: 110px;
  height: 110px;
  object-fit:contain;
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.small__text {
  position: absolute;
  bottom: 0;
  font-family: Futura New;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  left: 24px;
}

.cards:hover .card__image path {
  fill: #59443F; 
}

.card:hover{
  cursor: pointer;
}

.cards:hover .card__image-doge path{
  fill: none;
  stroke: #59443F; 
}

.cards:hover .card__image-rep path{
  fill: #59443F; 
  stroke: #59443F; 
}

.card__image-apt #Vector{
  fill:#ffc59e;
}

.cards:hover .card__image-apt #Vector{
  fill: #59443F;
  stroke: #59443F; 
}